.profile {
  font-size: 16px;
}
.avatar {
  text-align: center;
  margin-top: 40px;
}
.profile-face {
  text-align: center;
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #ebf0f6;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
}
.mr10 {
  margin-right: 10px;
}
.red {
  color:red;
}

.green {
  color:green
}

.profile-message {
  text-align: center;
  margin-top: 20px;
}
.profile-message div {
  margin-bottom: 10px;
}